<div *ngIf="items" class="modal-block">
    <div class="modal">
        <div class="modal-content">
            <h4>Remove Item<span *ngIf="items.length > 1">s</span> From Gallery?</h4>
            <p>You can either <b>Remove</b> the selected item(s) which will simply removes the item from the current
                gallery</p>
            <p>Or</p>
            <p>You can <b>Delete</b> the items so they will no longer show up in any gallery or search</p>
        </div>
        <div class="modal-footer">
            <a (click)="delete()" class=" modal-action modal-close waves-effect waves-green btn-flat">Delete</a>
            <a (click)="confirm()" class=" modal-action modal-close waves-effect waves-green btn-flat">Remove</a>
            <a (click)="hide()" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
    </div>
</div>