<div class='video_player' [style.margin-top.px]="margin" [style.width.px]="xform.elements[0][0]" [style.height.px]="xform.elements[1][1]">
    <video #vid [hidden]="frameview" poster="{{object.poster}}" controls="controls" loop="loop" (mousedown)="down($event)">
        <source type='video/mp4' src="{{object.video}}" />
    </video>
    <div [hidden]="!frameview">
        <canvas #viewport width="{{object.width}}" height="{{object.height}}" (mouseup)="up($event)" (mousedown)="down($event)" (mousemove)="move($event)"></canvas>
        <div class="progress grey">
            <div class="determinate white" [style.width.%]="(loadedframe / frameCount) * 100.0"></div>
        </div>
    </div>
    <div class='info row'>
        <span class='white-text text-darken-2 col s2 left-align'>{{frame}}/{{frameCount}}</span>
        <span class='white-text text-darken-2 col s8 center-align'>{{object.title}}</span>
        <span class='white-text text-darken-2 col s2 right-align'>{{object.framerate}} fps</span>
    </div>
    <div>
        <a *ngIf="cangetframes" (click)="imageArray()" class="btn grey darken-3 grey-text">
            <span *ngIf="!frameview">To Frames</span>
            <span *ngIf="frameview">To Video</span>
        </a>
    </div>
</div>