.file-field { height: 64px; padding: 0 15px; }
.file-field i { margin: 0; }
.file-field:hover { background-color: rgba(0,0,0,0.1); }

li { line-height: inherit; }
h3 { font-size: 22px; margin-bottom: 10px; margin-top: 0; font-weight: 200; line-height: 1.2em; }
h4 { margin-top: 0px; font-weight: 300; font-size: 18px; margin-bottom: 12.5px; line-height: 1.2em; }
h5 { text-transform: uppercase; letter-spacing: 1px; margin-top: 0px; font-weight: 300; font-size: 14px; }
a { color: inherit; transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53); font-weight: inherit; }
a.btn { line-height: 30px !important; height: 30px !important; padding: 0 20px; margin: 0 !important; }
.btn { font-size: 12px; }
.btn i { font-size: 1rem; }
i { vertical-align: middle; }
.separator { height: 1.8em; }
.separator-sm { height: 0.9em; }
ul > div > i, #edit_actions i { cursor: pointer; }
.center-align img { width: 80%; }
.btn.file-field { width: 100%; padding: 0 12px; }

.list-inline { padding-left: 0px; margin-left: -5px; list-style: none; }
.list-inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; line-height: inherit; }
.description p { white-space: pre-wrap; }
form .file-field { height: auto; }
.file-field .btn { padding: 0 12px; }
.file-field > a { margin: 0 12px 0 0; }
textarea::-webkit-input-placeholder { color: #707070; }
#remove_prompt_single { z-index: 4000 !important; }
#edit_actions { position: fixed; top: 0; width: 340px; z-index: 4000; padding-top: 6px; }
b { cursor: pointer; text-decoration: underline; }
.input-full-width { width: 100%; }

section { background: #131313; margin: 12px; border: 1px solid #333; overflow: hidden; }
header { font-size: 14pt; font-weight: 400; background: #333; padding: 8px; }