.actions { position: absolute; top: 16px; right: 16px; z-index: 3001; }
#viewer { position: absolute; width: 100%; height: 100%; top: 0; left: 0; outline: none; overflow: hidden; }
.actions .btn-flat { font-size: 18px; font-family: Roboto; font-weight: 500; }
.row { margin-bottom: 0; z-index: 3000; height: 100%; }
.row > div.col { height: 100%; }
.row a { height: 100%; opacity: 0; -webkit-transition: opacity 0.3s 0.0s; -moz-transition: opacity 0.3s 0.0s; -ms-transition: opacity 0.3s 0.0s; }
.row a:hover { height: 100%; opacity: 1; }
frog-image { position: fixed; }
a { cursor: pointer; }
.col.s1.right { position: absolute; right: 0; }
.col.s1.left { position: absolute; }
.close-button { position: absolute; top: 0; right: 0; }
.close-button:hover { position: absolute; top: 0; right: 0; }
works-detail ul { z-index: 3010; }
.nav-arrow { position: absolute; width: 100px; height: 100%; z-index: 3000; opacity: 0; -webkit-transition: opacity 0.3s 0.0s; -moz-transition: opacity 0.3s 0.0s; -ms-transition: opacity 0.3s 0.0s; }
.nav-arrow:hover { opacity: 1; -webkit-transition: opacity 0.3s 0.0s; -moz-transition: opacity 0.3s 0.0s; -ms-transition: opacity 0.3s 0.0s; }
.nav-arrow a { height: 100%; position: fixed; }
.original { text-align: center; font-family: Roboto; font-weight: 500; }

.keyboard { position:absolute; z-index: 40; top: 64px; right: 25px; }
kbd { display: inline-block;padding: 3px 5px;font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;line-height: 10px;color: #444d56;vertical-align: middle;background-color: #fcfcfc;border: solid 1px #c6cbd1;border-bottom-color: #959da5;border-radius: 3px;box-shadow: inset 0 -1px 0 #959da5;}