<div [class.hide]="!visible" id='uploader' (drop)="drop($event)" (dragover)="false" (dragend)="false">
    <div id="modal1" class="modal open modal-fixed-footer">
        <div class="modal-content">
            <h4>Upload Files</h4>
            <div class="row" *ngIf="group">
                <input type="checkbox" class="filled-in" id="filled-in-box" [(ngModel)]="creategroup" />
                <label for="filled-in-box">Create Group?</label>
            </div>
            <div class="row">
                Please enter at least one tag for the uploaded items
            </div>
            <div class="row">
                <div class="col s6">
                    <autocomplete (onSelect)="addTag($event)" [artists]="false" [icon]="'label'"></autocomplete>
                </div>
                <div class="col s6">
                    <recent-tags (onSelect)="addTags($event)"></recent-tags>
                </div>
            </div>
            <div class="row">
                <tag *ngFor="let tag of tags" [item]="tag.name" (onClose)="removeTag(tag)"></tag>
            </div>

            <div *ngIf="files.length === 1" class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="description" class="materialize-textarea" name="description" [(ngModel)]="description"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="progress light-green lighten-4">
                <div class="determinate light-green" [style.width.%]="((total - files.length) / total) * 100"></div>
            </div>
            <table class="bordered">
                <thead>
                    <tr>
                        <th colspan="2">File</th>
                        <th>Size</th>
                        <th>Created</th>
                        <th>%</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let file of files" [class.red]="!file.unique" [class.lighten-5]="!file.unique">
                        <td *ngIf="file.data?.thumbnail" class="thumb" width="32">
                            <div class="blue-grey white-text">
                                <p><i class="material-icons">warning</i>This will be overwritten</p>
                                <img class="responsive-img" src="{{file.data?.thumbnail}}" />
                            </div>
                        </td>
                        <td>
                            <div class="input-field lighten-4" [class.pink]="file.name.length === 0"><input [(ngModel)]="file.name"
                                    type="text"></div>
                        </td>
                        <td width="100">{{file.size | bytes}}</td>
                        <td width="180">{{file.created | date:'short'}}</td>
                        <td>
                            <div class="progress grey lighten-2">
                                <div class="determinate grey" [style.width.%]="file.progress"></div>
                            </div>
                        </td>
                        <td width="200">{{file.status}}</td>
                        <td width="32"><i class="close material-icons" (click)="removeHandler(file)">close</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <a (click)="toggle()" class="waves-effect waves-red btn-flat">Cancel</a>
            <button (click)="upload()" class="waves-effect waves-green btn" [class.disabled]="!canUpload()"
                [attr.disabled]="canUpload()?null:''">Upload</button>
        </div>
    </div>
</div>