<div class="navbar-fixed">
    <nav class="light-green darken-2">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a (click)="nav.toggle()" class="dropdown-button">
                        <i class="material-icons left">collections</i>Galleries
                    </a>
                </li>
                <li class="right">
                    <a href="{{siteconfig?.link}}" target="_blank" rel="noopener noreferrer">
                        <i class="material-icons">help_outline</i>
                    </a>
                </li>
                <li *ngIf="user?.isManager" class="right">
                    <a (click)="tagslist.show()">
                        <i class="material-icons">loyalty</i>
                    </a>
                </li>
                <li class="right">
                    <a (click)="preferencesService.show()">
                        <i class="material-icons right">settings</i> {{user?.name}}
                    </a>
                </li>
                <li>
                    <div class="file-field input-field">
                        <i class="material-icons">cloud_upload</i>
                        <input type="file" multiple (change)="addFiles($event)" title="Upload files">
                    </div>
                </li>
                <li>
                    <autocomplete (onSelect)="addTag($event)" [complex]="true"></autocomplete>
                </li>
                <ng-container *ngFor="let bucket of service.terms; let i = index; let l = last;">
                    <li>
                        <tag *ngFor="let item of bucket; let j = index;" [item]="item" (onClose)="removeTag($event, i, j)"></tag>
                    </li>
                    <li *ngIf="!l">
                        <i class="material-icons">add</i>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</div>
<works-nav (onSelect)="gallerySelectHandler($event)"></works-nav>
<tags-list #tagslist></tags-list>
