<div class="navbar-fixed">
    <nav class="light-green darken-2">
        <div class="nav-wrapper">
            <ul>
                <li>
                    <a (click)="nav.toggle()" class="dropdown-button">
                        <i class="material-icons left">collections</i>{{gallery?.title || 'Galleries'}}
                    </a>
                </li>
                <li class="right">
                    <a (click)="sitemenu.toggle()">
                        <i class="material-icons right">arrow_drop_down</i> {{user?.name}}
                    </a>
                </li>
                <li *ngIf="notes.length" class="right">
                    <a (click)="releasenotes.show()">
                        <i class="material-icons">card_giftcard</i>
                    </a>
                </li>
                <li>
                    <div class="file-field input-field">
                        <i class="material-icons">cloud_upload</i>
                        <input type="file" multiple (change)="addFiles($event)" title="Upload files">
                    </div>
                </li>
                <li>
                    <autocomplete (onSelect)="addTag($event)" [complex]="true"></autocomplete>
                </li>
                <ng-container *ngFor="let bucket of service.terms; let i = index; let l = last;">
                    <li>
                        <tag *ngFor="let item of bucket; let j = index;" [item]="item" (onClose)="removeTag($event, i, j)"></tag>
                    </li>
                    <li *ngIf="!l">
                        <i class="material-icons">add</i>
                    </li>
                </ng-container>
            </ul>
        </div>
    </nav>
</div>
<works-nav (onSelect)="gallerySelectHandler($event)"></works-nav>
<tags-list #tagslist></tags-list>
<site-menu #sitemenu></site-menu>
<release-notes #releasenotes></release-notes>
