<works-detail></works-detail>
<div *ngIf="loading" class='spinner'>
    working...
    <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<h5 *ngIf="items.length === 0" class="light-green-text center-align">Nothing found</h5>
<div class='row'>
    <thumbnail class='col m1' [class.loaded]="item.loaded" *ngFor="let item of items" [item]="item" [class.selected]="item.selected"></thumbnail>
</div>
