.chip, .chip > i.material-icons { height: 24px; line-height: 24px; border-radius: 2px; }
.chip > i.material-icons:first-child { margin-right: 8px; font-size: 16px; height: 24px; line-height: 24px; }
span { cursor: pointer; }