#works_detail { z-index: 4010; }
works-filter { position: fixed; top: 0; z-index: 4000; width: 100%; }
works-list { display: block; position: absolute; top: 63px; overflow-x: hidden; width: 100%; }
works-list { -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; }