<a href="/v/{{item.guid}}" (click)="clickHandler($event)">
    <img #img src='{{thumbnail}}' [style.padding.px]="prefs?.thumbnailPadding" />
</a>
<div *ngIf="prefs?.showTags" class="tags">
    <span class="tag" *ngFor="let tag of item.tags | tagArtistFilter">{{tag.name}}</span>
</div>
<div class='thumbnail-details light-green-text' [class.semi]="prefs?.semiTransparent">
    <p class="truncate">{{item.title}}</p>
    <div class="actions text-green">
        <i (click)="like()" class="tiny material-icons">thumb_up</i> <small>{{item.like_count}}</small>
        <i (click)="setFocus($event)" class="tiny material-icons">comment</i> <small>{{item.comment_count}}</small>
        <i (click)="setFocus($event)" class="tiny material-icons">info</i>
    </div>
    <small class="author" (click)="setAuthor(item.author.name)">{{item.author.name}}</small>
</div>
