<div [@panelState]="visible" *ngIf="item" id="edit_actions" class="row grey darken-4 grey-text text-lighten-1">
    <i (click)="toggle()" class="material-icons right">close</i>
    <i (click)="edit()" class="material-icons right" [class.light-green-text]="editing">{{(editing) ? "check_circle" :
        "edit"}}</i>
    <i *ngIf="editing" (click)="revert()" class="material-icons right red-text tooltipped" data-position="bottom"
        data-tooltip="Discard changed">delete_sweep</i>
</div>
<ul [@panelState]="visible" class="side-nav grey darken-4 grey-text text-lighten-1">
    <div *ngIf="item">
        <div *ngIf="editing" class="row" style="padding-top: 20px;">
            <div class="col s12">
                <h4 class="title">
                    <i class="material-icons light-green-text">image</i> Thumbnail
                </h4>
                <li class="center-align">
                    <img src="{{item.thumbnail}}?foo={{cachebust}}" />
                </li>

                <div class="row">
                    <div class="col s6">
                        <div class="waves-effect waves-light btn light-green file-field">
                            <i class="material-icons">cloud_upload</i> Upload
                            <input type="file" (change)="upload($event)" />
                        </div>
                    </div>
                    <div class="col s6">
                        <a (click)="cropThumbnail()" class="waves-effect waves-light btn light-green">
                            <i class="material-icons">crop</i> Crop</a>
                    </div>
                </div>
                <div *ngIf="item.custom_thumbnail" class="row">
                    <div class="col s6">
                        <a (click)="resetThumbnail()" class="waves-effect waves-light btn red darken-4">
                            <i class="material-icons">close</i> Reset</a>
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="editing" />

        <div class="row grey-text text-lighten-1">
            <div class="artwork-info col s12">
                <div class="separator-sm"></div>
                <div class="artist">
                    <div *ngIf="!editing" class="artist-name-and-headline">
                        <div class="name">
                            <a href="{{authorLink}}" class="light-green-text">{{item.author.name | capitalize:true}}</a>
                        </div>
                        <div class="headline">{{item.author.email}}</div>
                    </div>
                    <div *ngIf="editing">
                        <p>Change Artist</p>
                        <userinput (onSelect)="selectArtistHandler($event)" [user]="item.author"></userinput>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s5" *ngIf="siteconfig?.enable_likes">
                <a (click)="like()" class="waves-effect waves-light btn light-green">
                    <i class="material-icons left">thumb_up</i> Like</a>
            </div>
        </div>
        <div class="row">
            <h3 *ngIf="!editing || !isOwner" class="white-text col s12 truncate" title="{{item.title}}">{{item.title}}</h3>
            <div *ngIf="editing && isOwner" class="col s12">
                <div class="input-field">
                    <input id="title" type="text" [(ngModel)]="title" (keydown)="$event.stopPropagation();" (keypress)="$event.stopPropagation();" />
                    <label class="active" for="title">Title</label>
                </div>
            </div>
            <div *ngIf="!editing || !isOwner" class="description col s12" id="project-description" style="max-height: none;">
                <p [innerHTML]="item?.description | commentUrl | emojione"></p>
            </div>
            <div *ngIf="editing && isOwner">
                <div class="col s12">
                    <div class="input-field">
                        <textarea id="description" class="materialize-textarea1 expanded" [(ngModel)]="description"
                            (keydown)="$event.stopPropagation();" (keypress)="$event.stopPropagation();" placeholder="Description"></textarea>
                    </div>
                </div>
            </div>
            <small class="col s12">
                <i>{{item.created | date}}</i>
            </small>
            <div class="separator-sm"></div>
            <div class="col s12">
                <ul class="list-inline">
                    <li>
                        <i class="material-icons tiny">thumb_up</i> {{item.like_count}} Likes
                    </li>
                    <li>
                        <i class="material-icons tiny">comment</i> {{item.comment_count}} Comments
                    </li>
                    <li>
                        <i class="material-icons tiny">visibility</i> {{item.view_count}} Views
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <a href="/frog/download?guids={{item.guid}}" class="waves-effect waves-light btn light-green">
                    <i class="material-icons left">cloud_download</i> Download</a>
            </div>
            <div *ngIf="gallery" class="col s6">
                <a (click)="copyNav.toggle()" class="waves-effect waves-light btn blue lighten-2">
                    <i class="material-icons left">content_copy</i> Copy To</a>
                <works-nav #copyNav (onSelect)="gallerySelectHandler($event)"></works-nav>
            </div>
        </div>
        <div *ngIf="gallery" class="row">
            <div class="col s6">
                <a (click)="removePrompt()" class="waves-effect waves-light btn red darken-4 white-text">
                    <i class="material-icons left">delete</i>
                    <span *ngIf="item.guid.charAt(0) === '4'">Ungroup</span>
                    <span *ngIf="item.guid.charAt(0) !== '4'">Remove</span>
                </a>
            </div>
            <div class="col s6">
                <a (click)="moveNav.toggle()" class="waves-effect waves-light btn blue">
                    <i class="material-icons left">exit_to_app</i> Move To</a>
                <works-nav #moveNav (onSelect)="gallerySelectHandler($event, true)"></works-nav>
            </div>
        </div>
        <div *ngIf="gallery && item.guid.charAt(0) === '4'" class="row">
            <div class="col s6">
                <a routerLink="/g/{{item.id}}" class="waves-effect waves-light btn">
                    <i class="material-icons left">edit</i> Edit Group</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col s12">
                <h4 class="title">
                    <i class="material-icons light-green-text">label</i> Tags
                </h4>
                <tag *ngFor="let tag of item.tags | tagArtistFilter" [item]="tag.id" [dark]="true" (onClose)="removeTag($event)"
                    (onClick)="navigateToTag(tag)"></tag>
                <autocomplete (onSelect)="addTag($event)" [placeholder]="'Add Tags'" [icon]="'add'"></autocomplete>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col s12">
                <h4 class="title">
                    <i class="material-icons light-green-text">info</i> Details
                </h4>
                <table>
                    <tbody>
                        <tr>
                            <td>Created</td>
                            <td>{{item.created | date:'short'}}</td>
                        </tr>
                        <tr>
                            <td>Modified</td>
                            <td>{{item.modified | date:'short'}}</td>
                        </tr>
                        <tr>
                            <td>Dimensions</td>
                            <td>{{item.width}} x {{item.height}}</td>
                        </tr>
                        <tr>
                            <td>GUID</td>
                            <td>{{item.guid}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <div class="row" style="margin-bottom: 64px;">
            <div class="col s12">
                <h4>
                    <i class="material-icons light-green-text">comment</i> {{item.comment_count}} Comments
                </h4>
                <ul>
                    <li *ngFor="let comment of comments">
                        <comment-item [comment]="comment"></comment-item>
                    </li>
                </ul>
                <div *ngIf="isOwner && prompted" class="light-blue-text text-lighten-2">
                    <i class="material-icons">info</i>
                    <span>You can
                        <b (click)="edit()">edit</b> the item and add a description instead of leaving a comment</span>
                </div>
                <textarea [(ngModel)]=comment (keydown)="$event.stopPropagation();" (keypress)="$event.stopPropagation();"
                    (focus)="prompted = true" placeholder="Add a comment..." [class.expanded]="prompted"></textarea>
                <div *ngIf="prompted" class="col s6">
                    <a class="waves-effect waves-light light-green btn" (click)="postComment()">
                        <i class="material-icons left">comment</i>Post Comment</a>
                </div>
            </div>
        </div>
    </div>
</ul>

<remove-dialog></remove-dialog>
<cropper [item]="item" (onCrop)="reloadThumbnail($event)"></cropper>
