<ul [@panelState]="visible" class="dropdown-content grey darken-4 light-green-text" [style.display]="(visible === 'show') ? 'block' : 'none'">
    <li>
        <a (click)="createToggle()" class="light-green-text">
            <i class="material-icons left">add</i>Create
        </a>
    </li>
    <li id="create_form">
        <form [@createState]="createVisible" (submit)="createHandler()">
            <div>
                <input _ngcontent-aua-6="" class="light-green-text" id="first_name" placeholder="Title" type="text" [(ngModel)]="title" name="title">
                <button class="btn waves-effect waves-light light-green" type="submit" name="action">Create</button>
            </div>
        </form>
    </li>
    <li *ngFor="let gallery of galleries" [class.active]="gallery.id === worksservice.id">
        <a (click)="switchGallery(gallery)" class="light-green-text">
            <i class="material-icons left">{{securityIcon(gallery)}}</i>{{gallery.title}}
        </a>
    </li>
</ul>
